* {
    padding: 0;
    margin: 0;
}
h1{
    color: aqua;
    text-shadow: 5px;
    border: 2px solid blueviolet 50px;
    float: right 20px;
}
h1:hover{
    color: blueviolet;
}
.first{
    color: brown;
    padding: 10px 15px;
}
.first:hover{
    color: red;
    background: blue;
}
.secound{
    color: rgb(27, 36, 3);
    text-align: left 3px;
}
.secound:hover{
    color: blue;
}
.bar nav{
    text-align: center;
}